<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>
<h1>Whalecum!</h1>
{{#if loggedIn}}
	You are logged in
{{/if}}
{{name}}
</body>
</html>

